// Page header
header.main-header
	.container
		h1.logo Poultry farm

		// Main navigaion
		// Define menu items and link
		-var menu = { 'Home': 'index.html', 'Services': 'services.html', 'Blog': 'blog.html', 'Contacts': 'contacts.html' };

		// Build menu and highlight active item
		+b('nav').nav
			+e('ul').list
				each url, name in menu
					+e.item
						if pageName === name
							+e.link.is-active= name
						else
							+e.link(href=url)= name
