// Grid system default settings

//Font variables
$f-med: "ubuntumedium", Tahoma, Verdana, Arial, sans-serif
$f-light: "ubuntulight", Tahoma, Verdana, Arial, sans-serif
$f-serif: Georgia, Times, 'Times New Roman', serif


// Color variables
//Common colors
$c-accent: #e9df4a
$c-dark: #303334
$c-light: #fff

// Ext components colors
$c-selection_bg: #fff
$c-selection: #000

// DATA IMAGES
