*::selection
	background: $c-selection_bg
	color: $c-selection

*::-moz-selection
	background: $c-selection_bg
	color: $c-selection

html, body
	width: 100%
	height: 100%

body
	background-color: $c-light
	// +layout($layout-url: "../layout.jpg", $layout-width: 100%, $layout-opacity: 0.5, $grid-opacity: 0, $cell-width: 10px, $cell-height: 10px, $line-color: #ccc)

a
	color: $c-dark
	outline: none

h1, h2, h3, h4, h5, h6
	font-weight: normal
