extends ../layouts/main

block variables
	- var pageLang = 'en';
	- var pageName = 'Blog';
	- var pageTitle = 'Poultry farm | Blog';
	- var pageDescription = 'You`ll love our chicken';

block content
	// Main header
	+header()
		+logo()
		+nav()._blog


	// Blog list section
	+section()._light._blog
		.container
			+e('h2').title_dark._blog Blog

			// Previews
			+blog-list()


	// Widgets section
	+section()._light._widgets._widgets_blog
		.container
			//- Hidden section title (just useful thing)
			+e('h2').title_dark._hidden Get in touch!

			// Widgets
			+widgets()


	// Main footer
	+footer()
