extends ../layouts/main

block variables
	- var pageName = 'Blog';
	- var pageTitle = 'Poultry farm | Blog';
	- var pageDescription = 'You`ll love our chicken';

block content

	// Blog list
	include ../components/blog/_blog-list
