extends ../layouts/main

block variables
	- var pageName = 'Contacts';
	- var pageTitle = 'Poultry farm | Contacts';
	- var pageDescription = 'You`ll love our chicken';

block content

	// Map section
	include ../components/_blocks/_map

	// Contact form
	include ../components/contacts/_contact-form
