extends ../layouts/main

block variables
	- var pageLang = 'en';
	- var pageName = 'Contacts';
	- var pageTitle = 'Poultry farm | Contacts';
	- var pageDescription = 'You`ll love our chicken';

block content
	// Main header
	+header()
		+logo()
		+nav()._contacts


	// Map section
	+map()
		+e.info
			+e('h3').addr
				| 8901 Marmora Road,
				br
				| Glasgow, D04 89GR.


	// Contact section
	+section()._dark._contacts
		.container
			+e('h2').title_light._contacts Contact form

			// Contact form
			+contacts-form()


	// Widgets section
	+section()._light._widgets._widgets_blog
		.container
			//- Hidden section title (just useful thing)
			+e('h2').title_dark._hidden Get in touch!

			// Widgets
			+widgets()


	// Main footer
	+footer()
