extends ../layouts/main

block variables
	- var pageName = 'Home';
	- var pageTitle = 'Poultry farm';
	- var pageDescription = 'You`ll love our chicken';

block content

	// Slider section
	include ../components/_home-slider

	// Welcome section
	include ../components/_home-welcome

	// Events section
	include ../components/_home-events

	// About section
	include ../components/_home-about

	// Quality section
	include ../components/_home-quality

	// Testimonials section
	include ../components/_home-testimonials

	// Map section
	include ../components/blocks/_map
