extends ../layouts/main

block variables
	- var pageName = 'Home';
	- var pageTitle = 'Poultry farm';
	- var pageDescription = 'You`ll love our chicken';

block content

	// Slider section
	include ../components/home/_slider

	// Welcome section
	include ../components/home/_welcome

	// Events section
	include ../components/home/_events

	// About section
	include ../components/home/_about

	// Quality section
	include ../components/home/_quality

	// Testimonials section
	include ../components/home/_testimonials

	// Map section
	include ../components/_blocks/_map
