extends ../layouts/main

block variables
	- var pageLang = 'en';
	- var pageName = 'Services';
	- var pageTitle = 'Poultry farm | Services';
	- var pageDescription = 'You`ll love our chicken';

block content
	// Main header information
	include ../components/blocks/_header

	// Services list
	include ../components/_services-list

	// Extra service section
	include ../components/_services-extra

	// Special offers section
	include ../components/_services-offers

	// Widgets section
	mixin widgets()

	// Main footer
	include ../components/blocks/_footer
