extends ../layouts/main

block variables
	- var pageName = 'Services';
	- var pageTitle = 'Poultry farm | Services';
	- var pageDescription = 'You`ll love our chicken';

block content

	// Services list
	include ../components/_services-list

	// Extra service section
	include ../components/_services-extra

	// Special offers section
	include ../components/_services-offers
