+b('section').screen_light
	.container
		+e('h2').title_dark Blog

		// List of post preview
		.blog-list
			// Post preview
			+b('article').blog-prewiew
				+e('p').meta
					+e.date 08
					+e.month apr.
				+e('img').picture(src='img/blog/b1.jpg', alt='blog preview image')
				+e('h3').title Praesent justo dolor, lobortis qui pulvinar ac, lorem.
				+e('p').excerpt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
				+e.btn(href='#') More

			// Post preview
			+b('article').blog-prewiew
				+e('p').meta
					+e.date 08
					+e.month apr.
				+e('img').picture(src='img/blog/b2.jpg', alt='blog preview image')
				+e('h3').title Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
				+e('p').excerpt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
				+e.btn(href='#') More

			// Post preview
			+b('article').blog-prewiew
				+e('p').meta
					+e.date 08
					+e.month apr.
				+e('img').picture(src='img/blog/b3.jpg', alt='blog preview image')
				+e('h3').title Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				+e('p').excerpt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
				+e.btn(href='#') More

			// Blog pages paginator
			+b('ul').paginator
				+e.btn
					+e.link(href='#') Prev
				+e.page
					+e.link(href='#') 1
				+e.page
					+e.link(href='#') 2
				+e.page
					+e.link(href='#') 3
				+e.btn
					+e.link(href='#') Next
