// Carousel
mixin carousel()
	+b('ul').carousel&attributes(attributes)
		// Carousel controls
		+e.controls
			+e.btn.iconfont.iconfont_prev.js-carouselPrev(href='#') Previous
			+e.btn.iconfont.iconfont_next.js-carouselNext(href='#') Next

		// Carousel item
		+e.item.js-carouselItem.is-visible(data-bg='first')
			+e('h3').item-title_light
				| You'll
				br
				| love our
				br
				| chicken
			+e('p').item-descr_light Vestibulum libero nisl porta vel scele

		// Carousel item
		+e.item.js-carouselItem(data-bg='second')
			+e('h3').item-title_light
				| Lorem
				br
				| ipsum
				br
				| dolor
			+e('p').item-descr_light Lorem ipsum dolor sit amet

		// Carousel item
		+e.item.js-carouselItem(data-bg='third')
			+e('h3').item-title_light
				| Lorem
				br
				| libero
				br
				| nisl
			+e('p').item-descr_light You'll love our chicken

		block
