+b('section').screen_light
	.container
		+e('h2').title_dark Quality

		// Quality list
		+b('ul').quality
			// Quality item
			+e.item
				+e('div').item-diagram_first
				+e('h3').item-title Duisac turpis nteger
				+e('p').item-descr Duisac turpis. Integer rutrum ante eu lacuestilum lio nisl porta vel sceler.

			// Quality item
			+e.item
				+e('div').item-diagram_second
				+e('h3').item-title Eteger rutrum ante
				+e('p').item-descr Duisac turpis. Integer rutrum ante eu lacuestilum lio nisl porta vel sceler.

			// Quality item
			+e.item
				+e('div').item-diagram_third
				+e('h3').item-title Duisac turpiteger
				+e('p').item-descr Duisac turpis. Integer rutrum ante eu lacuestilum lio nisl porta vel sceler.

			// Quality item
			+e.item
				+e('div').item-diagram_fourth
				+e('h3').item-title Stilum libero nislrt
				+e('p').item-descr Duisac turpis. Integer rutrum ante eu lacuestilum lio nisl porta vel sceler.
