+b('section').screen_slider._slider_first
	// Parallax container
	+b('div').parallax.js-parallax
		+e('div').inner
			+e('div').number_light._left.js-parallaxItem 01

	// Section content
	.container
		// Hidden section title (just useful thing)
		+e('h2').title_light._hidden Hi everyone!

		+e('div').info_right
			// Carousel
			+b('ul').carousel
				// Carousel controls
				+e.controls
					+e.item_prev(href='#') Previous
					+e.item_next(href='#') Next

				// Carousel item
				+e.item.is-visible(data-bg='first')
					+e('h3').item-title_light
						| You'll
						br
						| love our
						br
						| chicken
					+e('p').item-descr_light Vestibulum libero nisl porta vel scele

				// Carousel item
				+e.item(data-bg='second')
					+e('h3').item-title_light
						| You'll
						br
						| love our
						br
						| chicken
					+e('p').item-descr_light Vestibulum libero nisl porta vel scele

				// Carousel item
				+e.item(data-bg='third')
					+e('h3').item-title_light
						| You'll
						br
						| love our
						br
						| chicken
					+e('p').item-descr_light Vestibulum libero nisl porta vel scele
