+b('section').screen_events
	// Parallax container
	+b('div').parallax.js-parallax
		+e('div').inner
			+e('div').number_accent._left.js-parallaxItem 03

	// Section content
	.container
		+e('div').info_right
			+e('h2').title_light._events Events

			// Scroller
			+b('ul').scroller
				// Scroller event
				+e.event
					+e('p').event-date: time(datetime="2015-05-12") 12/05/2015
					+e('h3').event-title Duisac turpis. Integer rutrum
					+e('p').event-descr Mauris fermeum dictum magn. Sed loreet aliquam leote llus dolor dapibus eget elementum vel curs elfend elit. Aenean aucto. wisi et urna. Aliqat volutpat.

				// Scroller event
				+e.event
					+e('p').event-date: time(datetime="2015-05-12") 12/05/2015
					+e('h3').event-title Ger rutrum ante eu lacutilum
					+e('p').event-descr Mauris fermeum dictum magn. Sed loreet aliquam leote llus dolor dapibus eget elementum vel curs elfend elit. Aenean aucto. wisi et urna. Aliqat volutpat.

				// Scroller event
				+e.event
					+e('p').event-date: time(datetime="2015-05-12") 12/05/2015
					+e('h3').event-title Stilum libero nisl porta vel sceleri
					+e('p').event-descr Mauris fermeum dictum magn. Sed loreet aliquam leote llus dolor dapibus eget elementum vel curs elfend elit. Aenean aucto. wisi et urna. Aliqat volutpat.

				// Scroller event
				+e.event
					+e('p').event-date: time(datetime="2015-05-12") 12/05/2015
					+e('h3').event-title Duisac turpis. Integer rutrum
					+e('p').event-descr Mauris fermeum dictum magn. Sed loreet aliquam leote llus dolor dapibus eget elementum vel curs elfend elit. Aenean aucto. wisi et urna. Aliqat volutpat.

				// Scroller event
				+e.event
					+e('p').event-date: time(datetime="2015-05-12") 12/05/2015
					+e('h3').event-title Ger rutrum ante eu lacutilum
					+e('p').event-descr Mauris fermeum dictum magn. Sed loreet aliquam leote llus dolor dapibus eget elementum vel curs elfend elit. Aenean aucto. wisi et urna. Aliqat volutpat.

				// Scroller event
				+e.event
					+e('p').event-date: time(datetime="2015-05-12") 12/05/2015
					+e('h3').event-title Stilum libero nisl porta vel sceleri
					+e('p').event-descr Mauris fermeum dictum magn. Sed loreet aliquam leote llus dolor dapibus eget elementum vel curs elfend elit. Aenean aucto. wisi et urna. Aliqat volutpat.
