+b('section').screen_welcome
	.container
		+e('div').info
			+e('h2').title_dark Welcome
			+e('h3').descr_dark Duisac turpis. Integer rutrum ante
			+e('p').excerpt_dark Mauris fermeum dictum magn. Sed loreet aliquam leote llus dolor dapibus eget elementum vel curs elfend elit. Aenean aucto. wisi et urna. Aliqat volutpat.

			+e('p').excerpt_dark Duisac turpis. Integer rutrum ante eu lacuestilum libero nisl porta vel sceleri eget malesuada at neqVivamus eget nibh. Etiam ursus leo vel metus. Nulla facil nec eroestibulum ante ipsu pharetra auue nec augentum. Donec ielit vel ip elit magnaec porta diam eu massa. Quise diam lorem interdum vitaapibus ac scelee vitae pedec eget tellus non erat lacinia ferme.
		+e('div').number_dark 02

