// Offers list
mixin offers()
	+b('ul').offers&attributes(attributes)
		// Offers item
		+e.item_first
			+e('h3').item-title Eteger rutrum
			+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

		// Offers item
		+e.item_second
			+e('h3').item-title Eteger rutrum
			+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

		// Offers item
		+e.item_third
			+e('h3').item-title Eteger rutrum
			+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

		// Offers item
		+e.item_fourth
			+e('h3').item-title Eteger rutrum
			+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

		block
