// Quality list
mixin quality()
	+b('ul').quality&attributes(attributes)
		// Quality item
		+e.item
			+e('div').item-diagram_first.js-diagram.js-diagramFirst
			+e('h3').item-title Duisac turpis nteger
			+e('p').item-descr Duisac turpis. Integer rutrum ante eu lacuestilum lio nisl porta vel sceler.

		// Quality item
		+e.item
			+e('div').item-diagram_second.js-diagram.js-diagramSecond
			+e('h3').item-title Eteger rutrum ante
			+e('p').item-descr Duisac turpis. Integer rutrum ante eu lacuestilum lio nisl porta vel sceler.

		// Quality item
		+e.item
			+e('div').item-diagram_third.js-diagram.js-diagramThird
			+e('h3').item-title Duisac turpiteger
			+e('p').item-descr Duisac turpis. Integer rutrum ante eu lacuestilum lio nisl porta vel sceler.

		// Quality item
		+e.item
			+e('div').item-diagram_fourth.js-diagram.js-diagramFourth
			+e('h3').item-title Stilum libero nislrt
			+e('p').item-descr Duisac turpis. Integer rutrum ante eu lacuestilum lio nisl porta vel sceler.

		block
