+b('section').screen_light._services
	.container
		+e('h2').title_dark._services What we do

		// List of services
		+b('ul').services
			// Service item
			+e.item
				+e('figure').item-thumb
					+e('img').item-img(src='img/services/s1.jpg', alt='service image')
				+e('div').item-info
					+e('h3').item-title A Steady Supply
					+e('h4').item-descr Praesent justo dolor, lobortis qui pulvinar ac, lorem.
					+e('p').item-excerpt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					+e.btn.common-btn(href='#') More

			// Service item
			+e.item
				+e('figure').item-thumb
					+e('img').item-img(src='img/services/s2.jpg', alt='service image')
				+e('div').item-info
					+e('h3').item-title High Animal Care Standards
					+e('h4').item-descr Praesent justo dolor, lobortis qui pulvinar ac, lorem.
					+e('p').item-excerpt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					+e.btn.common-btn(href='#') More

			// Service item
			+e.item
				+e('figure').item-thumb
					+e('img').item-img(src='img/services/s3.jpg', alt='service image')
				+e('div').item-info
					+e('h3').item-title Safe Chicken
					+e('h4').item-descr Praesent justo dolor, lobortis qui pulvinar ac, lorem.
					+e('p').item-excerpt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					+e.btn.common-btn(href='#') More

			// Service item
			+e.item
				+e('figure').item-thumb
					+e('img').item-img(src='img/services/s4.jpg', alt='service image')
				+e('div').item-info
					+e('h3').item-title Innovation
					+e('h4').item-descr Praesent justo dolor, lobortis qui pulvinar ac, lorem.
					+e('p').item-excerpt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					+e.btn.common-btn(href='#') More

			// Service item
			+e.item
				+e('figure').item-thumb
					+e('img').item-img(src='img/services/s5.jpg', alt='service image')
				+e('div').item-info
					+e('h3').item-title Qualified Auditors
					+e('h4').item-descr Praesent justo dolor, lobortis qui pulvinar ac, lorem.
					+e('p').item-excerpt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					+e.btn.common-btn(href='#') More
