+b('section').screen_dark._services-offers
	.container
		+e('h2').title_light._services-offers Special offers

		// Offers list
		+b('ul').offers
			// Offers item
			+e.item_first
				+e('h3').item-title Eteger rutrum
				+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

			// Offers item
			+e.item_second
				+e('h3').item-title Eteger rutrum
				+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

			// Offers item
			+e.item_third
				+e('h3').item-title Eteger rutrum
				+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

			// Offers item
			+e.item_fourth
				+e('h3').item-title Eteger rutrum
				+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.
