+b('section').screen_dark
	.container
		+e('h2').title_light Special offers

		// Offers list
		+b('ul').offers
			// Offers item
			+e.item
				+e('h3').item-title Eteger rutrum
				+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

			// Offers item
			+e.item
				+e('h3').item-title Eteger rutrum
				+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

			// Offers item
			+e.item
				+e('h3').item-title Eteger rutrum
				+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.

			// Offers item
			+e.item
				+e('h3').item-title Eteger rutrum
				+e('p').item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius micum sociis.
