// Customer testimonial
mixin testimonial()
	+b('figure').testimonial&attributes(attributes)
		+e.picture(src='img/tes/tes.jpg', alt='customer avatar')
		+e('blockquote').bq
			+e('h3').title Stilum libero nislrt vel scelerisque eget malesuada at neqivamus eget nibh. Etiamursus leo vel metus
			+e('p').text Duisac turpis. Integer rutrum ante eu lacuestilum lio nisl porta vel scelesqueget malesuada at neqVivamus eget nibh. Etiamursus leo vel metus. Nulla facil nec eroestibulum ante ipst pharetra auue nec augntum. Donec ielit vel ipsuuue. Nam elit magnae orta diam eu massa. Quise diam lorem interdum vitaapibus ac scelee vitae pedeonec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctovinar. Proin ullamcorper urna et felisstibulum iaculis lacinia est in dictum elentum velit. Fusce euismod consequat ante.
		+e('figcaption').author
			+e('h3').author-name Jessica Priston
			| roin dictum elemen

		block
