//- Ok, this is completions for common used blocks that were turned into mixins
//- with ability to add some modifiers

include _header
include _logo
include _nav

include _section
include _map
include _parallax

include _carousel
include _events
include _quality
include _testimonial

include _services-list
include _offers-list

include _blog-list

include _contacts-form

include _widgets
include _footer
