meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Poultry farm
meta(name='description', content='You`ll love our chicken')
meta(name='viewport', content='width=device-width, initial-scale=1')
<!--Opengraph-->
meta(property='og:type', content='website')
meta(property='og:title', content='Poultry farm')
meta(property='og:description', content='You`ll love our chicken')
meta(property='og:image', content='img/card.jpg')
<!--TwitterCard-->
meta(name='twitter:card', content='summary')
meta(name='twitter:title', content='Poultry farm')
meta(name='twitter:description', content='You`ll love our chicken')
meta(name='twitter:image:src', content='img/card.jpg')
